 ---------- 1: Global setup ---------- */
/* ---------- 1.1: Fonts --------- */
/* NOTE: DO NOT USE Gigi-Regular it is the worst font ever created, this is just for example */
/*@font-face {
	font-family:'Gigi-Regular';
	src: url('../fonts/Gigi-Regular_gdi.eot');
	src: url('../fonts/Gigi-Regular_gdi.eot?#iefix') format('embedded-opentype'),
		url('../fonts/Gigi-Regular_gdi.woff') format('woff'),
		url('../fonts/Gigi-Regular_gdi.ttf') format('truetype'),
		url('../fonts/Gigi-Regular_gdi.svg#Gigi-Regular') format('svg');
	font-weight: 400;
	font-style: normal;
	font-stretch: normal;
	unicode-range: U+0020-25CA;
}*/
* {
  font-family: 'Lato','Asap', sans-serif;
}



.display-page {
  background: url("../images/mysite.jpg");
  background-attachment: scroll;
  background-position-x: 0%;
  background-position-y: 0%;
  background-size: auto auto;
  background-attachment: fixed;
  background-position: center;
  background-size: cover;
  color: white;
  height: 100vh;
}

.links-container {

}

.display-page .links-container-left {
    position: absolute;
    top: 70px;
    left: 60px;
}
.display-page .links-container-right {
    position: absolute;
    top: 70px;
    right: 60px;
    text-align: right;
}

.vertical-content {
/*  background-image: url( ../images/mysite.jpg);
  background-size: cover;*/
  /*z-index: -1000;
  background-color: #10101C;
  opacity: 0.5;
  z-index: -99;*/
}

.overlay {
  width: 100vw;
  height: 100vh;
  opacity: 0.5;
  background-color: #10101C;
  z-index: -99;
}

.display-page .vertical-content {
    display: flex;
    flex-direction: column;
    height: 100%;
}

.header1 {
  position: absolute;
  text-align: center;
font-size: 60px;
padding-top: 50px;
text-transform: uppercase;
/*flex-grow: 1;*/
top: 50%;
/*z-index: 999;*/
margin-left: 60px;
}

.header2 {
/*  display: flex;
*/  position: absolute;
text-align: center;
font-size: 40px;
padding: 20px 0;
/*flex-grow: 0.2;*/
z-index: 999;
top: 63%;
/*left: 50%;*/
flex-wrap: wrap;
color: white;
margin-left: 60px;
}

.display-page .links-container a {
    display: block;
    text-decoration: none;
    color: white;
    font-size: 20px;
    line-height: 45px;
    text-transform: uppercase;
    transition: padding-left .2s ease-in-out;
}

.display-page .vertical-content img {
    margin: 0 auto;
    display: block;
    padding-top: 70px;
    max-height: 545px;
    height: 50%;
}


#myNameHeader {
  color: white;
  margin-left: 18px;
  margin-top: 26px;
  margin-bottom: 0px;
}

.profilePicture {
  float: left;
  min-width: 180px;
/*  max-width: 35%;
*/  max-height: auto;
  padding-right: 7px;
  padding-left: 14px;
  padding-bottom: 14px;
  margin-right: 7px;
}

/*.portfolioPictureR1 {
  height: 25vh;
  margin-top: 10%;
}
.portfolioPictureR2 {
  height: 25vh;
  margin-top: 20%;
}
  
#redditImage {
  margin-top: 10%;
}*/

.socialMediaIcon {
  height: 50px;
  width: 50px;
}
.linkedInIcon {
  height: 45px;
  width: 45px;
}

.aboutMe {
  text-align: center;
  color: white;
}

.connectWithMe {
  color: white;
  margin-top: 0px;
  text-align: center;
}

.iconDiv {
  text-align: center;
}

/*-------------*/
nav {
  margin: 34px;
}
 
#navNav ul {
  overflow: auto;
  list-style-type: none;
  width: 100%;
}
 
.navLi {
  height: 25px;
  float: left;
  margin-left: 4px;
  margin-right: 4px;
  border-right: 1px solid #aaa;
  padding: 0 20px;
}
 
/*.navLi:last-child {
  border-right: none;
}*/
 
.navLi a {
  text-decoration: none;
  color: #ccc;
  font: 18px/1 Helvetica, Verdana, sans-serif;
  text-transform: uppercase;
 
  -webkit-transition: all 0.5s ease;
  -moz-transition: all 0.5s ease;
  -o-transition: all 0.5s ease;
  -ms-transition: all 0.5s ease;
  transition: all 0.5s ease;
}
 
.navLi a:hover {
  color: #666;
}
 
.navLi.active a {
  font-weight: bold;
  color: #333;
}

/*-------------*/
#navContents {
  margin-right: 25px;
  margin-left: 0px;
}

#footer {
  text-align: center;
  margin-top: 100px;
}

/* ------ 1.2: General Styles ------- */

html,
body {
  height: 100%;
  margin: 0;
  padding: 0px;
  border: 0px;
  background: url("../images/nathan-anderson-470154.jpg");
  background-repeat: no-repeat;
  background-position: right bottom;
  background-size: cover;
}
body {
  background: #fff;
  height: 100%;
  font-family: Arial, sans-serif;
  color: white;
  font-size: 100%;
  font-weight: 200;
}
fieldset {
  border: none;
  padding: 0px;
}
a img {
  border: none;
}
a {
  color: #0085ad;
  text-decoration: none;
}
a:hover {
  text-decoration: underline;
  color: #a6a6a6;
}
p {
  margin: 0 0 11px 0;
  font-family: Times New Roman, serif;
  color: white;
}
h3 {
  font-size: 1.25em;
  color: black;
  font-family: Arial, sans-serif;
  text-transform: uppercase;
}



/* ---------- 3: Grid ---------- */
.container {
  width: 100%;
  max-width: 1600px;
  margin: 0 auto;
  line-height: 0em;
  overflow: hidden;
}
.containerCont {
  /*padding: 0 10px;*/
  padding: 0 1.5%;
}
.col {
  float: left;
  overflow: hidden;
}
.container img {
  max-width: 100%;
}
.colCont {
  margin-left: 1.5em;
  line-height: 1.2em;
  position: relative;
}

.pictureContainer {
  min-width: 180px;
}

.row {
  width: 100%;
  margin: 0 auto;
  position: relative;
}
.row.showGrid .col {
  padding-bottom: 20px;
  min-height: 30px;
}
.c1 {
  width: 8.333333333%;
}
.c2 {
  width: 16.666666667%;
}
.c3 {
  width: 25%;
}
.c4 {
  width: 33.333333333%;
}
.c5 {
  width: 41.666666667%;
}
.c6 {
  width: 50%;
}
.c7 {
  width: 58.333333333%;
}
.c8 {
  width: 66.666666667%;
}
.c9 {
  width: 75%;
}
.c10 {
  width: 83.333333333%;
}
.c11 {
  width: 91.666666667%;
}
.c12 {
  width: 100%;
}
/* ---------- 4: Navigation ---------- */
#navNav {
  list-style: none;
  /*padding: 0;*/
  margin: 0;
  float:right;
  line-height:normal;
}
#navNav li {
  font-size: 0.8125em;
  letter-spacing: 1.5px;
  float: right; 
  padding: 0 5px 0 0 ;
/*  background-color:#996B96;
*/}
#navNav li.last {padding-right:0px !important;}
#navNav ul {padding:0; margin:0;}
#navNav li a {
   color: white;
  text-decoration: none;
    /*background-color:#E1E2D7;*/

}
#navNav li a:hover {
  background-color: #A2A392;
}
/* ---------- 5: Main Body Content ---------- */
/* ---------- 5.1 Modal ----------- */
.modal:before {
  content: "";
  display: none;
  background: rgba(0, 0, 0, 0.6);
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 10;
}
.modal:target:before {
  display: block;
}
.modal:target .modal-dialog {
  -webkit-transform: translate(0, 0);
  -ms-transform: translate(0, 0);
  transform: translate(0, 0);
  top: 10%;
  bottom:10%;
  overflow-y:scroll;
}
.modal-dialog {
  background: #fefefe;
  border: #333333 solid 1px;
  border-radius: 5px;
  margin-left: -200px;
  position: fixed;
  left: 25%;
  top: -100%;
  z-index: 600;
  width: 80%;
  -webkit-transform: translate(0, -500%);
  -ms-transform: translate(0, -500%);
  transform: translate(0, -500%);
  -webkit-transition: -webkit-transform 0.3s ease-out;
  -moz-transition: -moz-transform 0.3s ease-out;
  -o-transition: -o-transform 0.3s ease-out;
  transition: transform 0.3s ease-out;
}
.modal-body {
  padding: 20px;
}
.modal-header,
.modal-footer {
  padding: 10px 20px;
}
.modal-header {
  border-bottom: #eeeeee solid 1px;
}
.modal-header h2 {
  font-size: 20px;
}
.modal-footer {
  border-top: #eeeeee solid 1px;
  text-align: right;
}
#close {
  display: none;
}
/* ---------- 5.2 Other Body Styles ----------- */



/* ---------- 6: Media Selectors ---------- */

/* Smartphones (portrait and landscape) ----------- */

@media only screen and (min-width: 320px) and (max-width: 568px) {
  .col {
    width: 100%;
	}
  .moble {
    display:block;
	}
  .mobileHide {
    display: none;
	}
  .colCont {
    margin-left: 0;
    line-height: 1.2em;
    position: relative;
  }
}
/* Smartphones (landscape) ----------- */

@media only screen and (min-width: 321px) {

}
/* Smartphones (portrait) ----------- */

@media only screen and (max-width: 320px) {

}

/* iPads (portrait and landscape) ----------- */

@media only screen and (min-device-width: 768px) and (max-device-width: 1024px) {
  .container {
    max-width: 97%;
	}

}
/* iPads (landscape) ----------- */

@media only screen and (min-device-width: 768px) and (max-device-width: 1024px) and (orientation: landscape) {

}
/* iPads (portrait) ----------- */

@media only screen and (min-device-width: 768px) and (max-device-width: 1024px) and (orientation: portrait) {

}

@media only screen and (max-width: 1023px/*,
only screen and	(max-device-width :800px)*/) {
  /* Styles */
  
 
}
/* one HD query to rule them all... or so i hope ----------- */

@media only screen and (-webkit-min-device-pixel-ratio: 2), only screen and (min-device-pixel-ratio: 2) {

}
@media only screen and (min-resolution: 192dpi) {

}
@media only screen and (max-device-width: 1280px) {

}

/*Card Layout for portfolio page using CSS Flex*/
.card{
width: 350px;
border: 1px solid gray;
border-top: 10px solid #f2bb05;
min-height: 250px;
padding-: 10px;
margin: 10px;
/* Add shadows to create the "card" effect */
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    transition: 0.3s;
}

/*.overlay {
  width: 350px;
}*/

img{
  border-radius: 50%;
  width: 100%;
  height: auto;
  margin: 0px;
  padding: 5% 5% 0 5%;
}

.projectTitle{
  font-weight: lighter;
  text-align: center;
  color: white;
}

.projectLink {
  height: 100%;
}

p{
  margin: 10px;
  font-family: segoe ui;
  line-height: 1.4em;
  font-size: 1.2em;
}

#mainbox{
  font-family: calibri;
  box-sizing: border-box;
  justify-content: center;
  display: flex;
flex-wrap: wrap;
margin-top: 5%;
}
/*End Codepen Flex Card Layout
*/

.cardCont:hover > .overlay {
    width:100%;
    height:100%;
/*    position:absolute;
*/    background-color:#000;
    opacity:0.5;
    border-radius:30px;
}

.cardCont:hover {
  box-shadow: 0 0 11px rgba(33,33,33,.2); 
}